/*
MAIN MENU
*/

/*
   

#header ul.inline {
  display:block;
  float:left;
  width:100%;

}
*/

#header #main-menu li {
 
  margin-right:2px;
}



/*
SEARCH BUTTON
*/
#search-block-form .form-submit {
  left:-4px;


}

.clearfix {
  clear:both;
}

 .view-browse-documents .views-exposed-widgets label {
   visibility:hidden;
 }
 
.node-type-transcription-page .form-textarea-wrapper textarea {
  width:97%;
}