span.separator { 
  display: inline;
  padding: 0 5px 0 5px;
}



#transcription-page-header #document-link label { 
  display: inline;
}

#transcription-page-header #transcription-status-info { 
  position: absolute;
  bottom: 0;
  right: 0;
}

#transcription-page-header #transcription-status-info div { 
  display: inline;
}

#transcription-page-header #transcription-status-info span div { 
  display: inline;
}

#transcription-page-image { 
  width: 100%;
  height: 200px;
  overflow: scroll;
}

#transcription-page-bottom { 
  width: 100%;
/*  height: 200px; */
/*  overflow: scroll; */
}

#transcription-page-transcription-content { 
  float: left;
  width: 21%; 
   margin-top:1em;
}

#transcription-page-transcription-content  h3{
  font-weight:bold;
  margin-bottom:.01em;
}

#transcription-page-transcription-area  { 
  float: right;
  width: 76%;
}

#edit-transcription, #edit-comment-body-und-0-value {
  height:300px;
}

#transcription-page-tabs ul { 
  list-style: none;
}

.transcription-submit {
  text-align:right;
}

#transcription-page-tabs ul li { 
  display: inline;
  padding: 5px 10px 5px 10px;
  background-color: #777;
  color: #fff;
  cursor: pointer;
}


#transcription-page-tabs ul li.active { 
  background-color: #000;
}

#content {
  float: left;
  display: inline;
  position: relative;
}

/* Updated styles for taxonomy_document nodes */
.document-image { 
  float: left;
  width: 110px;
}

.document-info { 
  float: left;
  width: 220px;
}

.document-info span { 
  display: block;
}


#page-wrapper {
  width:962px;
  margin-right:auto;
  margin-left:auto; 
  min-height: 800px;
  background: #fff;
}


#content {
  width: 100%;
}

.section {
  margin: 10px;
}

#footer { 
  text-align: center;
}