span.separator { 
  display: inline;
  padding: 0 5px 0 5px;
}

#header { 
  position: relative;
  height: 125px;
}

/*
#header #site-name { 
  position: absolute;
  left: 60px;
  top: 10px;
  width: 60%;
}

#header #main-menu { 
  position: absolute;
  left: 60px;
  top: 20px;
  width: 60%;
}

#header #main-menu li { 
  background-color: #777;
  padding: 5px 10px 5px 10px;
}

#header #main-menu li.active {  
  background-color: #000;
}

#header #main-menu li a { 
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
}

#header #secondary-menu { 
  position: absolute;
  top: 0px;
  right: 10px;
  width: 40%;
}
*/


#header .region-header { 
  position: absolute;
  top: 80px;
  right: 10px;
}

#transcription-page-header { 
  width: 100%;
  position: relative;
  padding-bottom: 10px;
}

/*
#transcription-page-header #document-link { 
  position: absolute;
  top: 0;
  right: 0;
}
*/

#transcription-page-header #document-link label { 
  display: inline;
}

#transcription-page-header #transcription-status-info { 
  position: absolute;
  bottom: 0;
  right: 0;
}

#transcription-page-header #transcription-status-info div { 
  display: inline;
}

#transcription-page-header #transcription-status-info span div { 
  display: inline;
}

#transcription-page-image { 
  width: 100%;
  height: 200px;
  overflow: scroll;
}

#transcription-page-bottom { 
  width: 100%;
/*  height: 200px; */
/*  overflow: scroll; */
}

#transcription-page-transcription-content { 
  float: left;
  width: 21%; 
   margin-top:1em;
}

#transcription-page-transcription-content  h3{
  font-weight:bold;
  margin-bottom:.01em;
}

#transcription-page-transcription-area  { 
  float: right;
  width: 76%;
}

#edit-transcription, #edit-comment-body-und-0-value {
  height:300px;
}

#transcription-page-tabs ul { 
  list-style: none;
}

.transcription-submit {
  text-align:right;
}

#transcription-page-tabs ul li { 
  display: inline;
  padding: 5px 10px 5px 10px;
  background-color: #777;
  color: #fff;
  cursor: pointer;
}


#transcription-page-tabs ul li.active { 
  background-color: #000;
}

#content {
  float: left;
  display: inline;
  position: relative;
}

/* Updated styles for taxonomy_document nodes */
.document-image { 
  float: left;
  width: 110px;
}

.document-info { 
  float: left;
  width: 220px;
}

.document-info span { 
  display: block;
}

.document-info h3 { 
  font-weight: normal;
  font-size: 18px;
  margin: 0 0 2px 0;
  padding: 0;
  
}

#content {
  width: 100%;
}

.section {
  margin: 10px;
}

#footer { 
  text-align: center;
}