html {
  
  background:url(images/fullpage-bkgd-repeat.png) repeat-x;
  background-color:#2e4e77;
  font-size:100%
}


body {
  margin:0px;
  padding:0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .8em;
  line-height: 1.6;
}

a {color:#1c4d73;
}


h1, h2, h3, h4 {
  margin-bottom:10px;
}

p{
  margin-bottom:10px;
}

h2 {
  font-size:1.3em;
  font-weight:bold;
}

h3 {
  font-size:1em;
}





#main {
  padding:0px 8px;
  min-height:830px;
}

#page-wrapper {
  width:962px;
  margin-right:auto;
  margin-left:auto; 
  min-height: 800px;
}

#header, #main-wrapper{
   background: url('images/page-wrapper-repeat.png') repeat-y; 
}

#main-wrapper #content {

  padding-bottom:20px;
  background: url('images/page-wrapper-bottom.png') center bottom no-repeat; 
}



/*
  HEADER
 */
#logo {
  display:block;
  width:170px;
  height:140px;
  position:relative;
  top:15px;
}

#header {
  height:148px;
  width:100%;
 }

#header .section {
  margin-top:0px;
 
}

#header-site-name a {
  text-decoration:none;
  color:#000;
  font-weight:bold;
}

#site-name {font-size:16px;}


/*
  MAIN NAVIGATION MENU
 */

#header #header-main-menu, #header #header-site-name { 
  position: absolute;
  left: 170px;
  top:68px;
  
}

#header #header-main-menu {top:103px;}
#header #main-menu li { 
  display:inline-block;
  /* ie 7 */
  zoom: 1;
  *display: inline;
}

#header  ul.inline li {
  padding:0px;
}



 #main-menu li {
  margin-right:2px;

}



 #main-menu li.last {
  margin-left:0px;
}


 #main-menu li a { 
  text-decoration: none;
  font-weight:normal;
  color: #000;
  display:block;
  padding: 10px 15px 5px 15px;
  background-color: #80b5df;
  font-size:1.05em;
  font-weight:600;
  letter-spacing:.008em;
  
}


#header #main-menu li a.active, #header #main-menu li a.active:hover {  
  background-color: #004071;
  color:#fff;
}


#header #main-menu li a:hover {
  background-color:#518ebd;
  color:#fff;
}

#header #header-secondary-menu { 
  position: absolute;
  top: 0px;
  right: 10px;
}



.front #page-title {display:none;}

#home .pane-title {
  font-weight:normal;
}

.home-welcome p {
  margin-top:15px;
  font-size:1.2em;
  line-height:24px;

  
}

.home-welcome .pane-title, #page-title {
  background:#000 url('images/main-header.png') no-repeat;
  width:946px;
  color:#fff;
  font-size:1.8em;
  margin: 0px 0px 0px -17px;
  padding: 14px 0px 14px 14px !important;
  text-transform:capitalize;
  letter-spacing:.02em;
}


.document-image img, .page-search .page-image img {
  border: solid 1px #c2c3c4; 
}

.document-image, .page-search .page-image {
  
  float:left;
  width:60px;
  height:87px;
  margin-right:6px;
  overflow:hidden;
}

 .document-info {
  float:left;
  width:211px;
}


.document-info h3 {
  margin: 2px 0px 10px 0px;
  text-transform:capitalize;
  font-size:1em;
}

.document-date {
  font-style:italic;
  margin-bottom: 5px;
}



/*
  FEATURED DOCUMENTS
 */

 #home .panels-flexible-row-1-main-row {
  margin-bottom:40px;
 }
 
 .panels-flexible-row-1-main-row .document-info h3 {
  font-size:1.25em;
 }
 
.panels-flexible-row-1-main-row .views-row{
  width:295px;
  float:left;
  margin-right:10px;
 }
 

 

 
.panels-flexible-row-1-main-row .pane-content h2  {
  border-bottom:solid 7px #3073A7;
  font-weight:normal;
}


.panels-flexible-row-1-main-row .pane-title {
  display:none;
}
 
.panels-flexible-row-1-main-row .document-info {
  float:left;
  width:172px;
}

.panels-flexible-row-1-main-row  .document-image {
 width:110px;
 height:160px;
 float:left;
 overflow:hidden;
}



.pane-featured-documents-panel-pane-1 .document-difficulty-beginner {
  border-top: solid 7px #A4B766;
  padding-top:10px;
  width:70%;
}

.pane-featured-documents-panel-pane-1 .document-difficulty-advanced {
  border-top: solid 7px #97423d;
  padding-top:10px;
  width:70%;
}

.pane-featured-documents-panel-pane-1 .document-difficulty-intermediate {
  border-top: solid 7px #F1D677;
  padding-top:10px;
  width:70%;
}







.home-featured-by-difficulty .document-info h3 {
  margin-bottom:0px;
}



.home-featured-by-difficulty .panels-flexible-column {
  width:296px;
  margin-right:10px;
}

.home-featured-by-difficulty .panels-flexible-column  .panels-flexible-column.last {
 margin-right:0px;
}

.home-featured-by-difficulty .node-transcription-document.node-teaser {
  margin-bottom:35px !important;
}



.home-featured-column-easy .pane-title{
  border-bottom: solid 7px #A4B766;
}

.home-featured-column-medium .pane-title{
  border-bottom: solid 7px #F1D677;
  
}

.home-featured-column-difficult .pane-title{
  border-bottom: solid 7px #97423d;
}

.home-featured-column-beginner .pane-title, .home-featured-column-intermediate .pane-title, .home-featured-column-difficult .pane-title{
  width:100%;
}


.view-empty  {
font-weight:bold;
color:#666;
font-size:.9em;
}




/* BROWSE DOCUMENTS VIEWS
*/

.view-browse-documents .views-view-grid {
  width:924px;
 }
 
 
 .view-browse-documents .views-exposed-widgets {
  padding-top:10px;
 }
 
 .view-browse-documents .views-exposed-widget.views-submit-button {
  padding-top:3px;
 }

 .view-browse-documents .views-exposed-widgets label {
   clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    color:#000;
 }
 
 .view-browse-documents #edit-year-value  {
  padding:0px;
 }
 
 .view-browse-documents #edit-submit-browse-documents {
  margin-top:0px;
 }
 
.view-browse-documents .views-view-grid .node-transcription-document {
  margin-bottom:20px;
}

.view-browse-documents .view-content {
  border-top:2px solid #666; 
  border-bottom:2px solid #666;
  padding-top:45px;
  margin-bottom:10px;
}

.views-view-grid td {
  vertical-align:top;

}

.view-id-browse_documents .document-difficulty, .home-featured-by-difficulty .document-difficulty, #transcription-page-header #document-title, .view-featured-documents .document-difficulty {
  background:url('images/indicator-sprite.png') no-repeat;
  padding:0px 0px 0px 20px ;
  line-height:17px;
}

 .document-difficulty.document-difficulty-beginner, .home-featured-by-difficulty .document-difficulty.document-difficulty-beginner{
  background-position: 0 1px;
}

 .document-difficulty.document-difficulty-advanced, .home-featured-by-difficulty .document-difficulty.document-difficulty-advanced {
  background-position: 0 -17px;
}

 .document-difficulty.document-difficulty-intermediate, .home-featured-by-difficulty .document-difficulty.document-difficulty-intermediate {
  background-position: 0 -35px;
}

#transcription-page-header #document-title.document-title-advanced {
    background-position: 0 -16px;
 }

 #transcription-page-header #document-title.document-title-beginner {
    background-position: 0 2px;
 }

 #transcription-page-header #document-title.document-title-intermediate {
    background-position: 0 -34px;
 }



.view-id-browse_documents .document-difficulty-beginner, .view-id-browse_documents .document-difficulty-intermediate, .view-id-browse_documents .document-difficulty-Difficult {
  border-top:none;
}

.view-browse-documents .item-list .pager {
  text-align:right
}

.show-all {
  margin-bottom:10px;
  
}

/*Transcription Page */
.node-type-transcription-page #main {
  padding: 0px 0px;
}

.node-type-transcription-page  textarea {
  padding:8px;
  font-family: Helvetica, Arial, sans-serif;
  font-size:.99em;
  
}

#transcription-page-image-resize h3 {
  text-align: right;
  margin-right: 100px;
  
}
#transcription-page-image-resize {
    position: relative;

}

#transcription-page-image-resize .controls {
   position: absolute;
    right:19px;
    top:-1px;
    
}

#transcription-page-middle {
  margin-top:15px;
  margin-bottom:20px;
 
  
}

#transcription-status-info {
  font-weight:bold;
}

#transcription-status, #next_untranscribed_page_link  {
  display:inline;
}


#transcription-status-info, #transcription-page-image-resize{
  width:50%;
  float:left;
  
}


#transcription-page-tabs ul {
  position:relative;
  top:-2px;
}

#transcription-page-bottom, #transcription-page-header { 
  background:url('images/separator.png') repeat-x ; 
  padding-top:45px;
}

#transcription-page-image { 
  width: 100%;
  height: 385px;
  overflow: scroll;
  background:url('images/transcribe-image-bkgd.png');
}

#transcription-page-tabs ul li { 
  display: inline;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border-radius:5px 5px 0px 0px;
  background-color: #004071;
  color:#fff;
  border:solid 1px #ccc;
  border-bottom:#fff;
}

#transcription-page-tabs ul li.active { 
 background-color: #fff;
 color: #000;
 border-bottom:#fff;
}


.node-type-transcription-page .messages{
  font-size:1.125em;
  font-weight:bold;
  border:3px solid;
  height:55px;
}

.node-type-transcription-page .status {
  border-color:#3073A7;

}


#edit-comment-body-und-0-format {
  display:none;
}

#transcription-page-comments #comments {
  position:relative;
}

#transcription-page-comments #comment-note {
  position:absolute;
  right:-60px;
  top:15px;
  font-size:.85em;
  color:#333;
  font-style:italic;
  width:490px;
  
}

#transcription-page-comments, #transcription-page-transcription, #multi-comment-wrapper {
  background:#fff;
  border:1px solid #cccccc;
  padding:10px;
 }

 #multi-comment-wrapper {
  overflow:auto;
  height:300px;
 }
 
 #multi-comment-wrapper h3{
  margin:0px;
 }
 
#multi-comment-wrapper  .submitted, #multi-comment-wrapper  .content, #multi-comment-wrapper  .field,
 #multi-comment-wrapper  .field-items,
 #multi-comment-wrapper  .field-item,
 #multi-comment-wrapper  .content p{
  display:inline;
}
 
 #multi-comment-wrapper  ul.links.inline {
  display:block;
 }
 
 #multi-comment-wrapper .comment {
  margin-bottom:10px;
}
 
#transcription-page-comments .submitted {
 float:left;
 margin-right:3px;
}

#transcription-page-comments .instructions {
  width:21%;
  float:left;
  margin-top:1.2em;
  font-style:italic;
}

#edit-incomplete {
  margin-left:10px;
}

#transcription-page-comments #comment-form {
  width:76%;
  float:right;
}

#transcription-page-bottom .title {
  margin:19px 0px 3px 0px;
  
}

#transcription-page-comments #comment-form .form-required {
  display:none;
}

#transcription-page-comments #edit-actions {
  text-align:right;
  padding-right:10px;
}

#transcription-page-comments .comment .permalink {
  display:none;
}

#transcription-page-subheader {
  position:relative;
  text-align: right;
  width:940px;
}



#document_pager{
  text-align: left;
}

#transcription-page-subheader #document-link, #transcription-page-subheader #document-pager   {
  width:50%;
  float:left;
  
}



/*
 FAQ
 */
 #questions{
  margin:25px 0px 45px 0px;
  
 }
 
#questions h2 {
 font-weight:normal;
 font-size:1em;
 }
 
 #questions  ol li {
  margin-bottom:10px;
  list-style-type:decimal; 
  margin-left: 20px;
 }
 
#questions h2, #questions p {
display: inline;
}

#responses {
  border-top:dotted 2px #333;
  padding-top:20px;
}

#responses ol li {
  list-style-type:decimal;
  margin-left: 20px;
}

#responses ul{margin-bottom:10px;}
#responses ul li {
  list-style-type:none;

}



#responses ol li ol {
  margin-left:15px;
  margin-bottom:10px;
}




/*
PAGER
*/
.view-browse-documents  .item-list .pager a {
  color:#1c4d73;
}

.view-browse-documents  .item-list .pager-last, .view-browse-documents  .item-list .pager-first, .page-search  .item-list .pager-first, .page-search  .item-list .pager-last {
  display:none;
}

 #search-block-form  .form-submit {
  position:relative;
  top:7px;
  left:-4px;
}



#search-block-form {
  position:relative;
  top:19px;
  left:-29px;
}

#edit-search-block-form--2 {
  width:200px;
  height:20px;
}


#edit-transcription-document-ref-und-0-nid {
  width:200px;
  height:20px;
}


/*
    SEARCH
 */
 


 .page-search .document-image, .page-search .page-image{
  float:none;
  margin-bottom:15px;
  position:absolute;
  top:0px;
  left:0px;
 }
 
  .page-search .document-info, .page-search .page-info{
  float:none;
  margin-left:100px;
  width:100%;
 }
 
 .page-search .page-info span {
  display:block;
 }
 
 
 
 .page-search .search-result{
  width:100%;
  border-bottom:1px solid #666;
  padding-bottom:10px;
  position:relative
}


.page-filter .region-content {
  padding-top:30px;
}

 
.page-filter th{
  font-weight:bold;
  padding-right: 15px;
}

.page-filter td {
  padding:2px 3px;
}

 

.page-filter table {
  margin-bottom:20px;
}

.page-filter .even {
  background-color:#c6c6c6;
}

.page-filter h2 {
  font-size:1.2em
}

.page-filter h3 {
  margin-top:35px;
  margin-bottom:5px;
  border-bottom:1px solid #666;
  font-weight:bold;
}

/*
    FOOTER
 */

#footer {
  margin-bottom:20px;
}
#footer, #footer a {
  color:#fff;
}


/*
    Node Lock

*/

.lock {
    position: relative;
    color:#ccc;
}

.lock .alert {
    position: absolute;
    z-index: 9;
    height: 356px;
    width: 599px;
    padding: 20px 20px 0px;
    background:#ccc; opacity:.8;
    top:0%;
    width: 658px;
    color:red;
    font-size: 1.4em;
    font-weight: bold;
    margin:0;
    border: 1px solid red;
    
}

.lock .transcription-submit {
   display: none;
}

#policy ul li{
    list-style: disc;
    
}

/*
 * Transcription status
 */
#transcription-page-transcription .field-name-field-page-completed {
	padding: 3px 7px;
	position: relative;
	left: -7px;
	margin-bottom: 1em;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	
	font-size: 90%;
	
	background-color: #ccc;
}

#transcription-page-transcription .field-name-field-page-completed.not-yet-started {
	background-color: #f26861;
	color: #1a0b0a;
}

#transcription-page-transcription .field-name-field-page-completed.partially-transcribed {
  background-color: #f1d677;
  color: #332d19;
}

#transcription-page-transcription .field-name-field-page-completed.completed {
  background-color: #95f291;
  color: #0b1a0b;
}

/* Recaptca */
#recaptcha_ajax_api_container{  
    font-size:12px;
    position: relative;
    text-align:left;
}  

#edit-captcha-form {
  clear:both;
  padding: 0 10px 5px;
  
}

div.recaptcha_get_another_captcha, div.recaptcha_only_if_image, div.recaptcha_only_if_audio, div.recaptcha_help {
  position: absolute;
  left: 316px;
  top: 10px;
}

div.recaptcha_only_if_image {
  top: 28px;
}

div.recaptcha_only_if_audio { top: 29px}

div.recaptcha_help { top: 46px;}

span.recaptcha_only_if_image, span.recaptcha_only_if_audio {
  position: absolute;
  left:0;
  bottom: -6px;
}

#recaptcha_response_field {
  position: relative;
  left:154px;
  border: 1px solid #999 !important;  
  width:141px !important;  
  padding:5px;  
  top: 9px;
}

#recaptcha_image {
   padding:2px;  
   background:#f9f9f9;  
   border:1px solid #e0e0e0;    
}


.captcha {
  margin: 10px 60px;
  border: solid 4px #ccc;
}

.fieldset-description {
  text-align: left;
  padding: 0 5px;
}

.fieldset-legend{
  display: none;
}